@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  color: #343434;
  text-align: center;
}

// Typography and buttons

.inicio-mensaje-bienvenido,
.inicio-mensaje-completar-perfil {
  font-size: 1.125rem;
  font-weight: 400;
}
.inicio-mensaje-bienvenido .span-nombre {
  text-transform: capitalize;
  color: #343434;
}
.inicio-mensaje-completar-perfil span {
  font-weight: 600;
  color: #4a98ff;
}

.inicio-mensaje-primera-vez {
  font-size: 1.5rem;
  font-weight: 600;
}

.inicio-mensaje-tiempo-estimado {
  font-size: 0.875rem;
  color: #9f9f9f;
}

.btn-container {
  margin: 0 auto;
  position: relative;
  max-width: 310px;
}

.btn-container img {
  position: absolute;
  top: 14px;
  right: 3.5em;
}

// Layout

.inicio-top {
  position: relative;
  margin-top: 1em;
  padding-bottom: 1.6em;
}

.inicio-illustration-container {
  position: relative;
}

.inicio-illustration-container::before {
  position: absolute;
  content: "";
  height: 2px;
  width: 260px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -0.1em;
  background: #eeeeee;
}

.inicio-illustration {
  margin-bottom: 1em;
}

.inicio-mensaje-bienvenido,
.inicio-mensaje-primera-vez {
  margin-bottom: 0.4em;
}

.inicio-mensaje-bienvenido {
  margin-top: 1em;
}

.inicio-back-arrow {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
}

.inicio-bottom {
  width: 100%;
}

.inicio-mensaje-tiempo-estimado {
  padding-top: 1em;
}
