<div (click)="logout()">
  <img
    class="inicio-back-arrow"
    src="assets/icon/back-arrow-2.svg"
    alt="Boton para volver atras"
  />
</div>
<div class="container">
  <div class="inicio-top">
    <div class="inicio-illustration-container">
      <img
        class="inicio-illustration"
        src="assets/illustrations/ilustracion-primera-vez.svg"
        alt=""
      />
    </div>
    <div class="inicio-mensaje-completar-perfil">
      <p class="inicio-mensaje-bienvenido">
        ¡Bienvenido <span class="span-nombre">{{ nombreUsuario }}!</span>
      </p>
      <h2 class="inicio-mensaje-primera-vez">¿Primera vez en la app?</h2>
      <p class="inicio-mensaje-completar-perfil">
        Deberás <span>completar tu perfil</span>
      </p>
    </div>
  </div>
  <div class="inicio-bottom">
    <div class="btn-container">
      <ion-button color="primary" (click)="iniciarEvaluacion()" class="btn"
        >Completar</ion-button
      >
      <img src="assets/icon/complete-profile-icon.svg" alt="Icono de perfil" />
    </div>
    <p class="inicio-mensaje-tiempo-estimado">Tiempo estimado 1 minuto</p>
  </div>
</div>
