<ion-content>

  <div *ngIf="renderPage">
    <div *ngIf="!registroCompleto">
      <app-mensaje-bienvenida></app-mensaje-bienvenida>
    </div>
    <div *ngIf="registroCompleto">
      <div *ngIf="!respondioEvaluacion">
        <app-mensaje-autoevaluacion-pendiente></app-mensaje-autoevaluacion-pendiente>
      </div>
      <div *ngIf="respondioEvaluacion">
        <app-mensaje-resultado [numeroDNI]="numeroDNI"></app-mensaje-resultado>
      </div>
    </div>
  </div>
</ion-content>
