@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  color: #343434;
  text-align: center;
}

// Typography and buttons

.inicio-mensaje-bienvenido,
.inicio-mensaje-completar-perfil {
  font-size: 1.125rem;
  font-weight: 400;
}

.inicio-mensaje-completar-perfil span {
  font-weight: 600;
  color: #4a98ff;
}

.inicio-mensaje-primera-vez {
  font-size: 1.5rem;
  font-weight: 600;
}

.inicio-mensaje-tiempo-estimado {
  font-size: 0.875rem;
  color: #c8c8c8;
}

// Layout

.inicio-top {
  position: relative;
  margin-top: 1em;
  padding-bottom: 1.6em;
}

.inicio-top:before {
  position: absolute;
  content: '';
  height: 2px;
  width: 200px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0.1em;
  background: #eeeeee;
}

.inicio-illustration {
  margin-bottom: 1em;
}

.inicio-mensaje-bienvenido,
.inicio-mensaje-primera-vez {
  margin-bottom: 0.4em;
}

.inicio-back-arrow {
  position: absolute;
  top: 1.5em;
  left: 1.5em;
}

.inicio-mensaje-tiempo-estimado {
  padding-top: 1em;
}
