<ion-content>
  <div class="container">
    <!-- <ion-progress-bar [value]="this.progressBar"></ion-progress-bar> -->
    <!-- <div class="loginTop">
      <ion-img class="logoPAE" src='../../assets/LogoPAE.svg'></ion-img>

      <ion-label class="labelLogin">DNI</ion-label>
      <ion-input #Field1 class="inputLogin" (keyup)="gotoNextField($event)" type="number" [(ngModel)]="dni">
      </ion-input>
      (keydown.Period)="swallow()"

      <ion-label class="labelLogin">Nro Tramite</ion-label>
      <ion-input #nroTramite class="inputLogin" type="number" (keyup.Enter)="swallow()" maxlength="11" placeholder="ej: 0012312368124">
      </ion-input>
      <ion-button class="loginButton">Ingresar</ion-button>
    </div> -->
    <div class="login-top">
      <div>
        <img
          class="login-axion-pae"
          src="assets/illustrations/pae-axion-logo.svg"
          alt="Logo pan american y axion"
        />
      </div>
      <div class="login-illustration-container">
        <img
          class="login-illustration"
          src="assets/illustrations/login-illustration.svg"
          alt="Ilustracion de enfermeros"
        />
      </div>
      <p class="login-mensaje">
        Aplicacion exclusiva para empleados<br />
        de Pan-American Energy y asociados
      </p>
    </div>
    <div class="login-middle">
      <img
        src="assets/illustrations/dni.svg"
        alt="Icono de un DNI"
        class="login-dni"
      />
      <p class="login-mensaje-dni">
        Deberá
        <span
          >utilizar su DNI<br />
          para ingresar</span
        >
      </p>
    </div>
    <div class="login-bottom">
      <!-- <ion-button [routerLink]="['/evaluacion']"color="light" id="scanButton">go wev</ion-button> -->
      <ion-button (click)="scanDNI()" color="primary" class="btn"
        >Escanear DNI</ion-button
      >
    </div>
  </div>
</ion-content>
