@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

// Typography and buttons

.login-mensaje {
  font-size: 0.875rem;
  color: #c8c8c8;
}

// Layout

.login-axion-pae {
  margin-bottom: 1em;
}

.login-illustration {
  padding-bottom: 0.5em;
  margin-bottom: 0.3em;
}

.login-illustration-container {
  position: relative;
}

.login-middle {
  margin: 2em 0;

  p {
    color: #c8c8c8;
    padding-top: 0.4em;
  }

  span {
    font-weight: 600;
  }
}

.login-bottom {
  width: 100%;
}

.login-illustration-container::after {
  position: absolute;
  content: '';
  height: 2px;
  width: 200px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 0.6em;
  background: #eeeeee;
}
