@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

// TYPOGRAPHY AND BUTTONS

h2,
h1,
.evaluacion-respuesta {
  color: #343434;
}

.evaluacion-titulo,
.evaluacion-respuesta {
  font-size: 1.25rem;
  font-weight: 400;
}

.evaluacion-question-progress-number span {
  font-weight: 600;
  color: #4a98ff;
}

.evaluacion-enunciado {
  font-size: 1.5rem;
}

.evaluacion-progress-bar {
  width: 210px;
  border-radius: 20px;
  height: 9px;
}

ion-progress-bar {
  --background: #eeeeee;
  --progress-background: #4a98ff;
}

// LAYOUT

.evaluacion-titulo {
  text-align: center;
  margin-bottom: 0.5em;
}

.evaluacion-progress-bar {
  margin-bottom: 0.4em;
}

.evaluacion-question-progress-number {
  text-align: center;
}

.evaluacion-encuesta {
  width: 250px;
  max-width: 350px;
  margin: 2.5em 0;
}

.evaluacion-enunciado {
  margin-bottom: 1em;
}

.evaluacion-respuesta-checkbox {
  margin-bottom: 1em;
  display: flex;
}

.evaluacion-checkbox {
  margin-right: 0.8em;
}

ion-checkbox {
  --border-radius: 5px;
  --border-color: #e2e2e2;
  --border-width: 2px;
  --checkmark-width: 2.2px;
  --transition: 0.2s;
}

.evaluacion-footer {
  text-align: center;
  width: 100%;
}

.evaluacion-back-arrow {
  position: absolute;
  top: 1.6em;
  left: 1.5em;
}
