<div class="container-resultado" [ngClass]="classBackgroundColor">
  <div class="resultado-top">
    <div class="resultado-logo">
      <img class="resultado-icono-escudo" src="assets/icon/escudo-resultado.svg" alt="Icono de un escudo" />
      <p class="resultado-mensaje-codigo-diario">Codigo diario</p>
    </div>
    <div class="resultado-codigo-evaluacion">
      <h2 class="resultado-numero-codigo">F25GD</h2>
      <img src="assets/icon/checkmark-resultado.svg" alt="" class="resultado-icono-codigo" />
      <p class="resultado-mensaje-evaluacion">
        <span>{{mensajeResultado?.titulo}}</span><br />
        {{mensajeResultado?.primerRenglon}}<br />
        {{mensajeResultado?.segundoRenglon}}
      </p>
    </div>
  </div>
  <div class="resultado-bottom">
    <div class="resultado-container-usuario">
      <img src="assets/icon/user-resultado.svg" alt="Icono de usuario" class="resultado-icono-usuario" />
      <h2 class="resultado-nombre-usuario">{{nombreUsuario}}</h2>
      <p class="resultado-fecha">{{fechaAutoEvaluacion}}</p>
    </div>
    <p class="cerrar-sesion" (click)='logout()'>Cerrar sesión</p>
  </div>
</div>
