// Typography

.resultado-mensaje-codigo-diario,
.resultado-numero-codigo,
.resultado-mensaje-evaluacion {
  color: #ffff;
}

.resultado-mensaje-codigo-diario {
  font-size: 1.125rem;
  font-weight: 400;
}

.resultado-numero-codigo {
  font-size: 3.75rem;
  font-weight: bold;
}

.resultado-mensaje-evaluacion {
  font-size: 1.5rem;
  font-weight: 400;
}

.resultado-mensaje-evaluacion span {
  font-weight: 600;
}

.resultado-nombre-usuario {
  text-transform: capitalize;
  font-size: 1.375rem;
  font-weight: 600;
}

.resultado-fecha {
  font-weight: 1.25rem;
  font-weight: 600;
  color: #4a98ff;
}

// Layout

.container-resultado {
  min-height: 100vh;
  background-color: #0dd67f;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 2em;
}
.green {
  background-color: #0dd67f;
}
.yellow {
  background-color: #e1be5d;
}
.red {
  background-color: #eb5454;
}
.resultado-logo {
  margin-bottom: 2em;
}

.resultado-numero-codigo {
  margin-bottom: 2rem;
  position: relative;
}

.resultado-numero-codigo::after {
  position: absolute;
  content: '';
  height: 3.5px;
  border-radius: 5px;
  width: 110px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -0.2em;
  background: #ffffff;
}

.resultado-icono-codigo {
  margin-bottom: 0.5em;
}

.resultado-mensaje-evaluacion {
  margin-bottom: 2.5em;
}

.resultado-bottom {
  background-color: #ffff;
  padding: 1.5em 0 2.5em 0;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: -1px -3px 5px 0px rgba(0, 0, 0, 0.12);
}

.resultado-nombre-usuario {
  margin-bottom: 0.4em;
}

.resultado-fecha {
  margin-bottom: 3em;
  position: relative;
}

.resultado-fecha::after {
  position: absolute;
  content: '';
  height: 1px;
  border-radius: 5px;
  width: 260px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -1.5em;
  background: #e2e2e2;
}
