<div class="container">
  <div class="autoevaluacion-top">
    <div class="container-illustration">
      <img
        class="autoevaluacion-pendiente-ilustracion"
        src="assets/illustrations/evaluacion-pendiente-illustration-2.svg"
        alt="Ilustracion enfermeros PAE"
      />
    </div>
    <p class="mensaje-control-diario">Control diario</p>
  </div>
  <div class="autoevaluacion-middle">
    <p class="autoevaluacion-pendiente-nombre">{{ nombreUsuario }},</p>
    <p class="autoevaluacion-pendiente-mensaje">
      su autoevaluacion diaria<br />
      esta pendiente
    </p>
    <img
      class="autoevaluacion-pendiente-icono-advertencia"
      src="assets/icon/warning-1.svg"
      alt="Icono de advertencia"
    />
  </div>
  <div class="autoevaluacion-bottom">
    <ion-button color="primary" (click)="iniciarEvaluacion()" class="btn"
      >Realizar evaluacion</ion-button
    >
    <div
      (click)="logout()"
      class="autoevaluacion-pendiente-cerrar-sesion-container"
    >
      <p class="cerrar-sesion autoevaluacion-pendiente-cerrar-sesion">
        Cerrar sesion
      </p>
    </div>
  </div>
</div>
