// Typography

.mensaje-control-diario {
  font-size: 0.875rem;
  font-weight: 400;
  color: #9f9f9f;
  margin-bottom: 1.4em;
}

.autoevaluacion-pendiente-nombre,
.autoevaluacion-pendiente-mensaje {
  font-size: 1.375rem;
  font-weight: 600;
}

.autoevaluacion-pendiente-nombre {
  text-transform: capitalize;
  font-weight: 400;
}

// Layout

.autoevaluacion-middle {
  margin-bottom: 2em;
}

.container-illustration {
  position: relative;
  margin-bottom: 1.2em;
}

.container-illustration::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 260px;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: -0.8em;
  background: #eeeeee;
}

.autoevaluacion-bottom {
  width: 100%;
}

.autoevaluacion-pendiente-mensaje {
  margin-bottom: 1em;
}

.autoevaluacion-pendiente-cerrar-sesion-container {
  padding-top: 1em;
}
