/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Typography and btn

h1,
h2,
p {
  margin: 0;
}

.cerrar-sesion {
  font-size: 1.125;
  font-weight: 600;
  color: #9f9f9f;
  text-decoration: underline;
}

.btn {
  font-family: "Open Sans", sans-serif;
  width: 80%;
  min-width: 250px;
  max-width: 300px;
  font-weight: 600;
  height: 3em;
  font-size: 1.125rem;
}

ion-button {
  text-transform: none;
  --border-radius: 7px;
}

.swiper-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.swiper-slide {
  height: 100%;
}

ion-sliders {
  height: auto;
}

// Layout

.container {
  padding: 2em 0 3em 0;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
